<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>인덱스 페이지 입니다</title>
</head>
<body>
<h1>인덱스 페이지 입니다</h1>
{{^userInfo}}
<h1><a href="/loginForm">로그인</a></h1>
{{/userInfo}}
{{#userInfo}}
	<div class="form-inline">
	    <h1 class="text-primary">[사용자 이름: {{username}}]</h1>
	    <h1 class="text-primary">[사용자 메일: {{email}}]</h1>
	</div>
	<h1><a href="/logout">[🖱Logout]</a></h1>
{{/userInfo}}
<br/><br/>
<h1>테스트</h1>
<h1><a href="/test/login">일반 로그인 세션정보 확인</a></h1>
<h1><a href="/test/oauth/login">OAuth 로그인 세션정보 확인</a></h1>
<br/><br/>
<h1>일반로그인과 OAuth 로그인 세션정보최종 테스트</h1>
<h1><a href="/user">일반로그인과 OAuth 로그인 세션정보 확인</a></h1>
</body>
</html>